# Merging Walmart and Amazon Datasets

In this notebook, we will demonstrate how we merged our walmart and amazon datasets. First we will run our workflow developed in stage 3 to match the data instances of the two tables. Then, using these matches, we will merge the datasets into a single table that can be used later on for analysis purposes.

In [1]:
import pandas as pd
import numpy as np
import py_entitymatching as em
from matching_workflow import workflow
from merging import merge_tables

import warnings
warnings.filterwarnings('ignore')

### Matching the Two Tables

First, we need to find matches between the tables. We will use the workflow developed in stage 3 to complete the entity matching process. However, the workflow in stage 3 was a development workflow so we have updated the workflow to model the production stage. This workflow can be found in the matching_workflow.py file.

In [2]:
# Save the paths to each of our input tables
path_walmart = '../Data/Walmart_clean.csv'
path_amazon = '../Data/Amazon_clean.csv'
path_labeled = '../Data/Labeled_Data.csv'
path_matches = '../Data/Matches.csv'

In [3]:
# Get the matches from our entity matching workflow
matches = workflow(path_walmart, path_amazon, path_labeled)
matches.to_csv(path_matches, index=False)

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.
Column Battery Life does not seem to qualify as any atomic type. It may contain all NaNs. Please update the values of column Battery Life
0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:03:00
0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:05
Metadata file is not present in the given path; proceeding to read the csv file.
Column Battery Life does not seem to qualify as any atomic type. It may contain all NaNs. Please update the values of column Battery Life
0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00
0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:31

In [4]:
# Let's take a look at the matches dataframe
matches.head()

       _id  ltable_ID  rtable_ID  predicted
1699  1699          1         10          1
1711  1711          1         32          1
1723  1723          1         54          1
1735  1735          1         76          1
1747  1747          1         98          1

### Merging the Tables

Now that we have found the matches, we can merge the tables together. Most of the tuples in the walmart table did not match with any tuples in the amazon table. However, those that did generallly matched with many tuples in the amazon data. On the other hand, many of the tuples in the amazon table matched with a tuple in the walmart data set.

In light of these finding, we decided to merge each tuple from the walmart data and each of its matches from the amazon data. For the most part, we decided to keep the value in the walmart table. However, if this value was missing, we chose the most common value from the list of matching tuples from the amazon table for that attribute. The exceptions to this rule are price, which we took the average among all the matching tuples, and the processor speed, which was generally cleaner in the amaon table so we took the most common value from the tuples from the amazon table.

In [5]:
# Load the tables
walmart = pd.read_csv(path_walmart)
amazon = pd.read_csv(path_amazon)
matches = pd.read_csv(path_matches)

In [6]:
# Merge the two tables
data = merge_tables(walmart, amazon, matches)
data.to_csv('../Data/Merged_Table.csv', index=False)
data.head()

,ID,Name,Price,Brand,Screen Size,RAM,Hard Drive Capacity,Processor Type,Processor Speed,Operating System,Battery Life
0,0,"HP Flyer Red 15.6"" 15-f272wm Laptop PC with Intel Pentium N3540 Processor, 4GB Memory, 500GB Har...",299.00,HP,15.6 in,4 GB,500 GB,Intel Pentium,"2.16 GHz, with a Max Turbo Speed of 2.66 GHz",Windows 10,4.5 hours
1,2,"HP Stream 11.6"" Laptop, Windows 10 Home, Office 365 Personal 1-year subscription included, Intel...",199.00,HP,11.6 in,4 GB,32 GB,Intel Celeron,1.6 Hz,Windows 10,10 h
2,4,"HP Black Licorice 15.6"" 15-F387WM Laptop PC with AMD A8-7410 Processor, 4GB Memory, touch screen...",329.00,HP,15.6 in,4 GB,500 GB,AMD A-Series,"2.20 GHz, with a Max Turbo Speed of 2.50 GHz",Windows 10,NaN
3,5,"HP Silver Iridium Ci5 15-cc050wm 15.6"" Laptop, Touchscreen, Windows 10 Home, Intel Core i5-7200U...",569.00,HP,15.6 in,12 GB,1 GB,7th Generation Intel Core i5-7200U Processor,2500 Hz,Windows 10,9.00 h
4,8,"HP 15-bw032WM 15.6"" Laptop Bundle, Windows 10, AMD A12-9720 Quad Core Processor, 8GB Memory, 1TB...",391.76,HP,15.6 in,8 GB,1 KB,NaN,NaN,"Microsoft Windows, @generated",NaN

In [7]:
print('Length of Merged Data Set = ' + str(len(data)))

Length of Merged Data Set = 4162