# Entity Matching for Walmart and Amazon Laptop Data

In this notebook, we will show how we used Magellan to match two data tables containing product data for laptops. The first of these tables, saved in the Walmart.csv file, was retrieved from Walmart's website and the second, stored in Amazon.csv, was obtained from Amazon's website.

In this notebook we will describe how we go from two seperate data tables to an entity mathcing pipeline that can be used to find all the matches between the tables.

In [1]:
import sys, re
sys.path.append('/u/p/m/pmartinkus/Documents/CS_838/Stage 2')

import HW3 as hw
import pandas as pd
import numpy as np
import py_entitymatching as em

import warnings
warnings.filterwarnings('ignore')

## Cleaning the Data

First we need to clean the data. There are some major problems with the data that we need to address:

1. The capacity columns (RAM and HDD) are dirty in both tables. In the walmart data set, the RAM and hard-drive capacities are often listed in KB when in reality they should be GB. Additionally, in the amazon data set, the RAM of many laptops is listed as 6GB when in reality it should be 8GB. Lastly, in both data sets, sometimes the capicity is listed as 1000 Gb and other times as 1 TB. 
2. In the amazon data set, sometimes the brand Lenovo is listed as Lenovo_320. We need to change all occurances of Lenovo_320 to just Lenovo. This will be very useful to us later in the blocking step.
3. For both data sets, the names are very long and contain plenty of additional information such as the hard drive capacity or the processor type. We will add an extra column called 'Clean Name' that has some of this additional information removed. This will help us match together names.
4. For both data sets, we need to update the format of the tables to match the requirements for py_entitymatching

In [2]:
# First let's read in our two data tables
path = '/u/p/m/pmartinkus/Documents/CS_838/Stage3/Data/'

walmart = pd.read_csv(path+'Walmart.csv', quotechar="'")
amazon = pd.read_csv(path+'Amazon.csv', quotechar="'")

### 1. Cleaning the RAM and Hard Drive Capacity Columns

First lets fix the capacity columns in each table. There are several occurances of 'KB' that should really be 'GB' in the walmart table, the RAM for several laptops in the amazon data is 6GB when it should really be 8, and both tables interchange between using 1000 GB and 1 TB.

In [3]:
# We can see how capacities in the walmart table use 'KB' instead of 'GB' in the first few entires of the file.
walmart.iloc[1:2]

,Name,Price,Brand,Screen Size,RAM,Hard Drive Capacity,Processor Type,Processor Speed,Operating System,Battery Life
1,"HP Stream 14-ax030wm 14” Smoke Gray, Windows 10 Home, Office 365 Personal 1-year included, Intel...",219.0,HP,14 in,4 KB,32 KB,Intel Celeron Processor N3060,1.6 Hz,Windows 10,10.25 h

In [4]:
# Here we can see how the data interchanges between using 1000 GB and 1 TB for hard drive capacity
amazon.iloc[20:22]

,Name,Price,Brand,Screen Size,RAM,Hard Drive Capacity,Processor Type,Processor Speed,Operating System,Battery Life
20,"2018 Lenovo Business Flagship Laptop PC 15.6"" Anti-Glare Touchscreen Intel 8th Gen i5-8250U Quad...",599.0,Lenovo_320,15.6 in,8 GB,1 TB,Intel,1.6 GHz,windows 10,NaN
21,"ASUS VivoBook F510UA FHD Laptop, Intel Core i5-8250U, 8GB RAM, 1TB HDD, USB-C, NanoEdge Display,...",509.0,Asus,15.6 in,8 GB,"1,000 GB",Intel,1.6 GHz,Windows 10,NaN

In [5]:
# Clean the capacity values in the walmart dataframe
hw.clean_capacity(walmart)
walmart.iloc[1:2]

,Name,Price,Brand,Screen Size,RAM,Hard Drive Capacity,Processor Type,Processor Speed,Operating System,Battery Life
1,"HP Stream 14-ax030wm 14” Smoke Gray, Windows 10 Home, Office 365 Personal 1-year included, Intel...",219.0,HP,14 in,4 GB,32 GB,Intel Celeron Processor N3060,1.6 Hz,Windows 10,10.25 h

In [6]:
# Clean the capacity values in the amazon dataframe
hw.clean_capacity(amazon)
amazon.iloc[20:22]

,Name,Price,Brand,Screen Size,RAM,Hard Drive Capacity,Processor Type,Processor Speed,Operating System,Battery Life
20,"2018 Lenovo Business Flagship Laptop PC 15.6"" Anti-Glare Touchscreen Intel 8th Gen i5-8250U Quad...",599.0,Lenovo_320,15.6 in,8 GB,1 TB,Intel,1.6 GHz,windows 10,NaN
21,"ASUS VivoBook F510UA FHD Laptop, Intel Core i5-8250U, 8GB RAM, 1TB HDD, USB-C, NanoEdge Display,...",509.0,Asus,15.6 in,8 GB,1 TB,Intel,1.6 GHz,Windows 10,NaN

### 2. Cleaning the Brand name in the Amazon Data

With the Walmart data set cleaned, we can move on to fixing the Lenovo_320 problem in the Amazon data.

In [7]:
# We can see that Lenovo is often listed as Lenovo_320
amazon[amazon['Brand'] == 'Lenovo_320'].head(2)

,Name,Price,Brand,Screen Size,RAM,Hard Drive Capacity,Processor Type,Processor Speed,Operating System,Battery Life
20,"2018 Lenovo Business Flagship Laptop PC 15.6"" Anti-Glare Touchscreen Intel 8th Gen i5-8250U Quad...",599.0,Lenovo_320,15.6 in,8 GB,1 TB,Intel,1.6 GHz,windows 10,NaN
42,"2018 Lenovo Business Flagship Laptop PC 15.6"" Anti-Glare Touchscreen Intel 8th Gen i5-8250U Quad...",599.0,Lenovo_320,15.6 in,8 GB,1 TB,Intel,1.6 GHz,windows 10,NaN

In [8]:
# Clean the brand values in the amazon dataframe
hw.clean_brands(amazon)
amazon.iloc[[20,42],:]

,Name,Price,Brand,Screen Size,RAM,Hard Drive Capacity,Processor Type,Processor Speed,Operating System,Battery Life
20,"2018 Lenovo Business Flagship Laptop PC 15.6"" Anti-Glare Touchscreen Intel 8th Gen i5-8250U Quad...",599.0,Lenovo,15.6 in,8 GB,1 TB,Intel,1.6 GHz,windows 10,NaN
42,"2018 Lenovo Business Flagship Laptop PC 15.6"" Anti-Glare Touchscreen Intel 8th Gen i5-8250U Quad...",599.0,Lenovo,15.6 in,8 GB,1 TB,Intel,1.6 GHz,windows 10,NaN

### 3. Creating the 'Clean Name' Column

Next we will work on creating the 'Clean Name' column. The common_words() function generates a list of common words from the laptop names and the clean_names() function adds the additional column with the common words removed from the names.

In [9]:
common = hw.get_common_words()
hw.clean_names(amazon, common)
hw.clean_names(walmart, common)
walmart.head(3)

,Name,Price,Brand,Screen Size,RAM,Hard Drive Capacity,Processor Type,Processor Speed,Operating System,Battery Life,Clean Name
0,"HP Flyer Red 15.6"" 15-f272wm Laptop PC with Intel Pentium N3540 Processor, 4GB Memory, 500GB Har...",299.0,HP,15.6 in,4 GB,500 GB,Intel Pentium,"2.16 GHz, with a Max Turbo Speed of 2.66 GHz",Windows 10,4.5 hours,Flyer Red f272wm Intel Pentium N3540 Drive
1,"HP Stream 14-ax030wm 14” Smoke Gray, Windows 10 Home, Office 365 Personal 1-year included, Intel...",219.0,HP,14 in,4 GB,32 GB,Intel Celeron Processor N3060,1.6 Hz,Windows 10,10.25 h,Stream ax030wm 14” Smoke Gray Intel Celeron N3060
2,"HP Stream 11.6"" Laptop, Windows 10 Home, Office 365 Personal 1-year subscription included, Intel...",199.0,HP,11.6 in,4 GB,32 GB,Intel Celeron,1.6 Hz,Windows 10,10 h,Stream Intel Celeron N3060

In [10]:
amazon.head(3)

,Name,Price,Brand,Screen Size,RAM,Hard Drive Capacity,Processor Type,Processor Speed,Operating System,Battery Life,Clean Name
0,"2018 Newest HP Premium 15.6"" Laptop, AMD A6-9220 Dual-Core Processor 2.50GHz, 4GB RAM, 500GB HDD...",287.99,HP,15.6 in,4 GB,500 GB,NaN,2.5 GHz,Windows 10,NaN,2018 Premium AMD A6 9220 Dual AMD Radeon R4
1,"2018 Newest Premium Dell Inspiron 15.6"" HD LED-backlit Display Laptop PC Intel Celeron Dual-Core...",309.00,Dell,15.6 in,4 GB,500 GB,NaN,1.6 GHz,Windows 10,NaN,2018 Premium Inspiron Intel Celeron Dual Black
2,"Acer Aspire E 15 E5-575-33BM 15.6-Inch FHD Notebook (Intel Core i3-7100U 7th Generation , 4GB DD...",349.99,Acer,15.6 in,4 GB,1 TB,Intel,2.4 GHz,Windows 10,NaN,Aspire E E5 575 33BM Notebook Intel i3 7100U 7th Intel 620 Obsidian Black

### 4. Formatting Data for py_entitymatching

Now that the data sets have been cleaned, we can address the formatting issues of our tables. Specifically, we need to make sure the tables start with an ID column that uniquely identifies each tuples and we need to make sure that strings are indicated with double quotes.

In [11]:
# This will add the 'ID' column and change string formatting to double quotes in the saved csv files
walmart.to_csv(path+'Walmart_clean.csv', index_label='ID')
amazon.to_csv(path+'Amazon_clean.csv', index_label='ID')

# Reload the dataframes
walmart = pd.read_csv(path+'Walmart_clean.csv')
amazon = pd.read_csv(path+'Amazon_clean.csv')

# Take a look at the walmart data
walmart.head(3)

,ID,Name,Price,Brand,Screen Size,RAM,Hard Drive Capacity,Processor Type,Processor Speed,Operating System,Battery Life,Clean Name
0,0,"HP Flyer Red 15.6"" 15-f272wm Laptop PC with Intel Pentium N3540 Processor, 4GB Memory, 500GB Har...",299.0,HP,15.6 in,4 GB,500 GB,Intel Pentium,"2.16 GHz, with a Max Turbo Speed of 2.66 GHz",Windows 10,4.5 hours,Flyer Red f272wm Intel Pentium N3540 Drive
1,1,"HP Stream 14-ax030wm 14” Smoke Gray, Windows 10 Home, Office 365 Personal 1-year included, Intel...",219.0,HP,14 in,4 GB,32 GB,Intel Celeron Processor N3060,1.6 Hz,Windows 10,10.25 h,Stream ax030wm 14” Smoke Gray Intel Celeron N3060
2,2,"HP Stream 11.6"" Laptop, Windows 10 Home, Office 365 Personal 1-year subscription included, Intel...",199.0,HP,11.6 in,4 GB,32 GB,Intel Celeron,1.6 Hz,Windows 10,10 h,Stream Intel Celeron N3060

In [12]:
amazon.head(3)

,ID,Name,Price,Brand,Screen Size,RAM,Hard Drive Capacity,Processor Type,Processor Speed,Operating System,Battery Life,Clean Name
0,0,"2018 Newest HP Premium 15.6"" Laptop, AMD A6-9220 Dual-Core Processor 2.50GHz, 4GB RAM, 500GB HDD...",287.99,HP,15.6 in,4 GB,500 GB,NaN,2.5 GHz,Windows 10,NaN,2018 Premium AMD A6 9220 Dual AMD Radeon R4
1,1,"2018 Newest Premium Dell Inspiron 15.6"" HD LED-backlit Display Laptop PC Intel Celeron Dual-Core...",309.00,Dell,15.6 in,4 GB,500 GB,NaN,1.6 GHz,Windows 10,NaN,2018 Premium Inspiron Intel Celeron Dual Black
2,2,"Acer Aspire E 15 E5-575-33BM 15.6-Inch FHD Notebook (Intel Core i3-7100U 7th Generation , 4GB DD...",349.99,Acer,15.6 in,4 GB,1 TB,Intel,2.4 GHz,Windows 10,NaN,Aspire E E5 575 33BM Notebook Intel i3 7100U 7th Intel 620 Obsidian Black

## Load the Tables into Magellan
Now that our tables are in the correct format, we can load them with py_entitymatching's commands. This is necessary because we need to include our tables in py_entitymatching's catalog.

In [13]:
# Load csv files as dataframes and set the key attribute in the dataframe
A = em.read_csv_metadata(path+'Walmart_clean.csv', key='ID')
B = em.read_csv_metadata(path+'Amazon_clean.csv', key='ID')

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

In [14]:
# Display the key attributes of table A and B. This is information from the catalog.
em.get_key(A), em.get_key(B)

('ID', 'ID')

## Blocking Step
If we examine the length of the cartesian product of these two tables, we will see that there are too many pairs to check and too many of the pairs will not actually be matches. We can use a blocking step to remove obvious non-matches. This helps us reduce the total number of potential matches to check and also results in our data having a better ratio of matches to non-matches.

In [15]:
print('Number of tuples in A: ' + str(len(A)))
print('Number of tuples in B: ' + str(len(B)))
print('Number of tuples in A X B (i.e the cartesian product): ' + str(len(A)*len(B)))

Number of tuples in A: 3034
Number of tuples in B: 3102
Number of tuples in A X B (i.e the cartesian product): 9411468

To begin with, we will check that the two laptops have the same brand. Two laptops cannot be a match if they are not even made by the same company and the brand attribute is relatively clean in both tables.

In [16]:
# Create attribute equivalence blocker
ab = em.AttrEquivalenceBlocker()

# Block tables comparing the brand
C1 = ab.block_tables(A, B, 'Brand', 'Brand',
                   l_output_attrs=['Name', 'Price', 'Brand', 'Screen Size', 'RAM', 'Hard Drive Capacity', 'Processor Type', 'Processor Speed', 'Operating System', 'Clean Name'],
                   r_output_attrs=['Name', 'Price', 'Brand', 'Screen Size', 'RAM', 'Hard Drive Capacity', 'Processor Type', 'Processor Speed', 'Operating System', 'Clean Name'])

# Lets see how much we've reduced the size of the cadidate set
len(C1)

1644624

Now every tuple pair in our candidate set C1 shares the same brand. Unfortunatly, there are still over a million tuples in this set so we need to continue blocking to reduce the size. Next, we will apply a rule based blocker. This blocker will check to see how similar the Clean Name columns of the tuple pair are using a jaccard score with 3-grams.

In [17]:
# Get features for rule based blocking
block_f = em.get_features_for_blocking(A, B, validate_inferred_attr_types=False)

# Create the rule based blocker and add rule for jaccard score on Clean Name column
rb = em.RuleBasedBlocker()
rb.add_rule(['Clean_Name_Clean_Name_jac_qgm_3_qgm_3(ltuple, rtuple) < 0.2'], block_f)

# Block the candset
C2 = rb.block_candset(C1)
len(C2)

Column Battery Life does not seem to qualify as any atomic type. It may contain all NaNs. Please update the values of column Battery Life
0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:02:55

68742

Now we have significantly reduced the size of the candidate set to around 65 thousand, but still only a small portion of the candidates can be actual matches. Since matching laptops should have the same size screen, RAM, and hard drive capacity, we will use a black box blocker to check if the numbers in the screen size field are equal.

In [18]:
# Create another black box blocker
bb_screen = em.BlackBoxBlocker()
# Set the black box function
bb_screen.set_black_box_function((hw.screen_ram_hd_equal))
# Apply blocker 
C = bb_screen.block_candset(C2)

# Let's check the length of this candadate set
len(C)

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:05

19052

Now that we have sufficently reduced the size of the candidate set, let's debug the blocking scheme to see if we left out any potential matches.

In [19]:
dbg = em.debug_blocker(C, A, B)
dbg.to_csv(path+'debug.csv', index=False)

In [20]:
# Save the candidate set to a csv file
C.to_csv(path+'Candidate_Set.csv', index=False)

## Sampling and Labeling

Before we can start choosing a model, we need to label a set of data. First, we will randomly sample 300 candidate pairs of tuples and then we will manually label them all.

In [21]:
# Sample candidate set
S = em.sample_table(C, 300)

In [22]:
# Label S and specify the attribute name for the label column
#L = em.label_table(S, 'gold')

# Save Labeled data to csv file
#L.to_csv(path+'Labeled_Data.csv', index=False)

L = em.read_csv_metadata(path+'Labeled_Data.csv', 
                         key='_id',
                         ltable=A, rtable=B, 
                         fk_ltable='ltable_ID', fk_rtable='rtable_ID')

Metadata file is not present in the given path; proceeding to read the csv file.

## Feature Generation

Now that we have a set of labeled data, we will create feature vectors for matching. We will use the features automatically generated by py_entitymatching. However, we don't need any features relating to brand since we already assured that the brands would match in the blocking stage. Additionally, many of the tuples are missing vlaues for battery life so we will not include any features based on that attribute either.

In [23]:
# Generate features
feature_table = em.get_features_for_matching(A, B, validate_inferred_attr_types=False)

# We don't need any features relating to brand
feature_subset = feature_table.iloc[np.r_[4:10, 40:len(feature_table)], :]

# List the names of the features generated
feature_subset['feature_name'].head()

Column Battery Life does not seem to qualify as any atomic type. It may contain all NaNs. Please update the values of column Battery Life

4        Name_Name_jac_qgm_3_qgm_3
5    Name_Name_cos_dlm_dc0_dlm_dc0
6                  Price_Price_exm
7                  Price_Price_anm
8             Price_Price_lev_dist
Name: feature_name, dtype: object

We will split the data into a training set and a test set. The training set will be used for selecting our model, debugging the models, and training the final model. The test set is only used later on for evaluating the final model we settle on.

In [24]:
# Split the labeled data into development and evaluation set
development_evaluation = em.split_train_test(L, train_proportion=0.7)
development =  development_evaluation['train']
evaluation = development_evaluation['test']

# Save sets I and J to csv files
development.to_csv(path+'Development.csv', index=False)
evaluation.to_csv(path+'Evaluation.csv', index=False)

In [25]:
# Extract feature vectors
feature_vectors_dev = em.extract_feature_vecs(development, 
                            feature_table=feature_subset, 
                            attrs_after='gold')
# Display first few rows
feature_vectors_dev.head(3)

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

,_id,ltable_ID,rtable_ID,Name_Name_jac_qgm_3_qgm_3,Name_Name_cos_dlm_dc0_dlm_dc0,Price_Price_exm,Price_Price_anm,Price_Price_lev_dist,Price_Price_lev_sim,Processor_Speed_Processor_Speed_jac_qgm_3_qgm_3,...,Operating_System_Operating_System_lev_dist,Operating_System_Operating_System_lev_sim,Operating_System_Operating_System_nmw,Operating_System_Operating_System_sw,Clean_Name_Clean_Name_jac_qgm_3_qgm_3,Clean_Name_Clean_Name_cos_dlm_dc0_dlm_dc0,Clean_Name_Clean_Name_mel,Clean_Name_Clean_Name_lev_dist,Clean_Name_Clean_Name_lev_sim,gold
130,283662,167,2011,0.189055,0.359092,0.0,0.926780,5.0,0.166667,NaN,...,0.0,1.0,10.0,10.0,0.211268,0.353553,0.784166,37.0,0.339286,0
171,478739,282,2925,0.406114,0.464642,0.0,0.925033,3.0,0.500000,NaN,...,0.0,1.0,10.0,10.0,0.457143,0.577350,0.693290,27.0,0.571429,1
23,11792,6,3004,0.345361,0.382692,0.0,0.977098,4.0,0.333333,0.285714,...,0.0,1.0,10.0,10.0,0.324675,0.503953,0.666835,35.0,0.363636,1

In [26]:
# Check for missing values
any(pd.isnull(feature_vectors_dev))

True

In [27]:
# Impute feature vectors with the mean of the column values.
feature_vectors_dev = em.impute_table(feature_vectors_dev, 
                exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
                strategy='mean')

## Selecting a Matcher

Using the feature vectors we created, we can create some ML models and select the one that performs best. We will be selecting between the following methods: Decision Tree, SVM, Random Forest, Naive Bayes, Logistic Regression, and Linear Regression.

In [28]:
# Create a set of ML-matchers
dt = em.DTMatcher(name='DecisionTree')
svm = em.SVMMatcher(name='SVM')
rf = em.RFMatcher(name='RF')
nb = em.NBMatcher(name='NB')
lg = em.LogRegMatcher(name='LogReg')
ln = em.LinRegMatcher(name='LinReg')

In [29]:
# Select the best ML matcher using Cross Validation
result = em.select_matcher([dt, rf, svm, nb, lg, ln], table=feature_vectors_dev, 
        exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
        k=10,
        target_attr='gold', 
        metric_to_select_matcher='f1',
        random_state=0)

In [30]:
# Lets take a look at the average results for cross validation for each matcher
result['cv_stats']

        Matcher  Average precision  Average recall  Average f1
0  DecisionTree           0.917500        0.919048    0.910598
1            RF           0.940714        0.882937    0.910717
2           SVM           0.757738        0.671825    0.693077
3            NB           0.570000        0.576190    0.544761
4        LogReg           0.670000        0.529365    0.569893
5        LinReg           0.842381        0.630556    0.711829

## Debugging a Matcher

The next step is to debug the matcher we have chosen. We will examine the false positives and false negative to try and look for some common patterns to our errors. This way, we can make changes to address these common problems.

In [31]:
# # Split feature vectors into train and test
train_test = em.split_train_test(feature_vectors_dev, train_proportion=0.5)
train = train_test['train']
test = train_test['test']

In [32]:
# Debug decision tree using GUI
em.vis_debug_rf(rf, train, test, 
        exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
        target_attr='gold')

After taking a look at the false positives and negatives using the debugger, we discovered that the random forest model has trouble differentiated referbished laptops from new laptops. We can add a new feature that checks if the two laptops are refurbished to help with this problem.

In [33]:
# Add new feature to check if laptops are refurbished or not
em.add_blackbox_feature(feature_subset, 'refurbished', hw.refurbished)

True

Now we can select a model again to see how our new refurbish feature affected performance.

In [34]:
# Extract feature vectors
feature_vectors_dev = em.extract_feature_vecs(development, 
                            feature_table=feature_subset, 
                            attrs_after='gold')

# Impute feature vectors with the mean of the column values.
feature_vectors_dev = em.impute_table(feature_vectors_dev, 
                exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
                strategy='mean')

# Select the best ML matcher using Cross Validation
result = em.select_matcher([dt, rf, svm, nb, lg, ln], table=feature_vectors_dev, 
        exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
        k=10,
        target_attr='gold', 
        metric_to_select_matcher='f1',
        random_state=0)

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

In [35]:
result['cv_stats']

        Matcher  Average precision  Average recall  Average f1
0  DecisionTree           0.913929        0.919048    0.910598
1            RF           0.938492        0.927778    0.927661
2           SVM           0.784545        0.671825    0.706125
3            NB           0.714405        0.688889    0.682251
4        LogReg           0.728095        0.558532    0.616865
5        LinReg           0.812381        0.655952    0.721434

We can see above that the Random Forest model has improved due to the debugging and is now the best performing matcher on our development set. We can move forward and test it out on the evaluation set.

## Evaluating the Matchers

Next, we will evaluate the matchers on the test dataset that we set aside earlier. Up until this point we have not looked at the evaluation set at all. The hope is that the evaluation set is representative of the complete data set (after blocking) and we have not overfit it since we have not looked at it.

First, we need to create feature vectors from the evaluation set. These features will be the same as before and will include our refurbished feature we developed after debuggin the matchers.

In [36]:
# Get new set of features
feature_vectors_eval = em.extract_feature_vecs(evaluation, 
                                               feature_table=feature_subset, 
                                               attrs_after='gold')

# Impute feature vectors
feature_vectors_eval = em.impute_table(feature_vectors_eval, 
                exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
                strategy='mean')

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

Now we will fit the models on the entire development set. This will give us a model that can be used to predict matches in the evaluation set. Then, using the trained model, we will generate predictions for the entire evaluation set and report the accuracies for each model.

In [37]:
# Train using feature vectors from the development set
matchers = [dt, rf, svm, nb, lg, ln]
for matcher in matchers:
    matcher.fit(table=feature_vectors_dev, 
           exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'], 
           target_attr='gold')

In [38]:
# Predict M for each matcher
predictions = []
for matcher in matchers:
    predictions.append(matcher.predict(table=feature_vectors_eval, 
                             exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'], 
                             append=True, 
                             target_attr='predicted', 
                             inplace=False))

In [39]:
# Evaluate the result
for i, matcher in enumerate(matchers):
    print(matcher.name + ': ')
    eval_result = em.eval_matches(predictions[i], 'gold', 'predicted')
    em.print_eval_summary(eval_result)
    print('')

DecisionTree:
Precision : 92.86% (26/28)
Recall : 96.3% (26/27)
F1 : 94.55%
False positives : 2 (out of 28 positive predictions)
False negatives : 1 (out of 62 negative predictions)

RF:
Precision : 100.0% (24/24)
Recall : 88.89% (24/27)
F1 : 94.12%
False positives : 0 (out of 24 positive predictions)
False negatives : 3 (out of 66 negative predictions)

SVM:
Precision : 66.67% (16/24)
Recall : 59.26% (16/27)
F1 : 62.75%
False positives : 8 (out of 24 positive predictions)
False negatives : 11 (out of 66 negative predictions)

NB:
Precision : 56.67% (17/30)
Recall : 62.96% (17/27)
F1 : 59.65%
False positives : 13 (out of 30 positive predictions)
False negatives : 10 (out of 60 negative predictions)

LogReg:
Precision : 69.23% (9/13)
Recall : 33.33% (9/27)
F1 : 45.0%
False positives : 4 (out of 13 positive predictions)
False negatives : 18 (out of 77 negative predictions)

LinReg:
Precision : 89.47% (17/19)
Recall : 62.96% (17/27)
F1 : 73.91%
False positives : 2 (out of 19 positive predictions)
False negatives : 10 (out of 71 negative predictions)

We can see above that the Random Forest model has performed well on the test set nearly reaching a 95% F1 score.